* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  background-color: #0d192b;
  font-family: 'Outfit', sans-serif; }

h1 {
  color: white;
  font-size: 1.4rem;
  margin-left: 27px;
  margin-top: 4px;
  margin-bottom: 12px; }

@media (min-width: 640px) {
h1 {
    text-align: center; } }


@media (min-width: 1440px) {
h1 {
  margin-left: 35px;
  text-align: left; } }

h2 {
  color: #00fff7 !important;
  font-size: 1rem; }

h3 {
  color: white;
  opacity: .8;
  margin-left: 6px;
  margin-top: -6px;
  font-size: 1rem; 
  font-weight: 200; }

@media (min-width: 1440) {
h3 {
  color: white;
  opacity: .8;
  margin-left: 2px;
  margin-top: -2px;
  font-size: 1rem; } }

.contenedor {
  display: block;
  width: 80%;
  margin: auto;
  background-color: #14253d;
  border-radius: 3%;
  margin-top: 130px; 
  margin-left: auto; }

@media (min-width: 640px) {
.contenedor {
  width: 50%; } }

  @media (min-width: 1440px) {
  .contenedor {
    width: 22%; } }

.contenedor p {
  color: #8bacda;
  opacity: .7;
  font-size: 16px;
  margin-left: 27px;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 25px;
  word-spacing: .08rem; }

@media (min-width: 640px) {
.contenedor p {
    font-size: 16px;
    text-align: center } }

  @media (min-width: 1440px) {
  .contenedor p {
    font-size: 16px;
    margin-left: 35px;
    text-align: left; } }

.centerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.centerDiv img {
  margin: 25px;
  border-radius: 3%; }

.containerFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .7rem; }

@media (min-width: 640px) {
  .containerFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .2rem;
  margin-left: 32px; } }

.flex1 {
  display: flex;
  flex-direction: row;
  justify-content: flex start;
  margin-left: 27px;
  gap: .5rem; }

@media (min-width: 1440px) {
.flex1 {
  margin-left:7px;
  gap: .2rem; } }

.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 60px;
  gap: .5rem;
  margin-top: 2px; }

.flex2 p {
  color: #8bacda !important;
  margin-left: -2px;
  margin-top: -2px; }

hr {
  width: 85%;
  margin: auto;
  margin-top: 5px;
  border: 0.02rem solid #2f415b; }

.footerClass {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 7px;
  margin-left: 25px; }

@media (min-width: 640px) {
.footerClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; } }

@media (min-width: 1440px) {
  .footerClass {
    margin-left: 32px;
    justify-content: flex-start; } }

.footerClass p {
  margin-left: 6px !important; }

.footerClass h5 {
  align-self: flex-start;
  margin-bottom: 15px; }

@media (min-width: 1440px) {
  .footerClass h5 {
    align-self: flex-start; } }

.footerClass img {
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px; }

.centerAttribution {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.centerAttribution p {
  font-size: .6rem;
  color: white;
  text-align: center!important;
  margin: 0px;
}

@media (min-width: 1440px) {
.centerAttribution p {
  font-size: .7rem;
  }
}

.centerAttribution a:link {
  color: white;
}
